header {
    color: #196d12;
    padding: 15px;
    text-align: left;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #196d12;
    font-fartgfmily: "Times New Roman", Times, serif;
    margin: em
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 12em;
  }
  
.submit {

}